<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
    </configSections>

    <connectionStrings>
        <add name="sqlZoneConnString" providerName="System.Data.SqlClient" connectionString="Data Source=197.80.203.203;Initial Catalog=SuperSportZone;Persist Security Info=True;UID=supersportzone;PWD=$uper$portZone" />
        <add name="sqlSSZConnString" providerName="System.Data.SqlClient" connectionString="Data Source=197.80.203.203;Initial Catalog=SSZGeneral;Persist Security Info=True;UID=supersportzone;PWD=$uper$portZone" />
    </connectionStrings>

    <appSettings>
        <clear />
        <add key="CDNFtpAddress" value="cdn.dstv.com" />
        <add key="CDNFtpUsername" value="supersport.img" />
        <add key="CDNFtpPassword" value="DsR6eA3aB13C" />
        <add key="CDNDirectory" value="newsinpictures" />
        <add key="pageSize" value="20" />
        <add key="NewItemRank" value="20" />

    </appSettings>

    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
                <arg key="configType" value="INLINE" />
            </factoryAdapter>
        </logging>
    </common>

    <log4net>
        <root>
            <appender-ref ref="GelfUDPAppender" />
        </root>
        <!--This appender logs Gelf formatted messages directly to a GELF endpoint - use this if no disk persistence is required-->
        <appender name="GelfUDPAppender" type="Esilog.Gelf4net.Appender.Gelf4NetAppender, Esilog.Gelf4net">
            <param name="GrayLogServerHost" value="logbroker.dstvo.local" />
            <param name="Facility" value="SuperSport-NewsInPictures" />
            <param name="AdditionalFields" value="environment:dev" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%m%n" />
            </layout>
        </appender>
        <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
            </layout>
        </appender>
    </log4net>
    
    <system.web>
        <customErrors mode="Off" />
        <httpRuntime maxRequestLength="240000000" />
        <authentication mode="Forms">
            <forms cookieless="UseCookies" name="NewsAndPictures.AUTH" path="/" timeout="90" loginUrl="~/Login.aspx" defaultUrl="~/GalleriesList.aspx" />
        </authentication>
        <compilation debug="true" targetFramework="4.0" />

        <membership>
            <providers>
                <clear />
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
            </providers>
        </membership>

        <profile>
            <providers>
                <clear />
                <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
            </providers>
        </profile>

        <roleManager enabled="false">
            <providers>
                <clear />
                <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
                <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
            </providers>
        </roleManager>

    </system.web>
    <location path="Upload.aspx">
        <system.web>
            <httpRuntime maxRequestLength="240000000" executionTimeout="300" />
        </system.web>
    </location>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
    </system.webServer>
    <system.serviceModel>
        <services>
            <service name="NewsAndPictures.GalleryService">
                <endpoint address="" behaviorConfiguration="restBehaviour" binding="webHttpBinding" contract="NewsAndPictures.GalleryService" />
            </service>

        </services>
        <behaviors>
            <endpointBehaviors>
                <behavior name="restBehaviour">
                    <webHttp />
                </behavior>

            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
